@import "tailwindcss";

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@keyframes like-pop {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1.35);
    }

    75% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.animate-like {
    animation: like-pop 0.2s ease;
}